<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercedes Amor Ejercicio 5.3</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <!-- <link rel="stylesheet" href="style.css" /> -->
  </head>

  <body>
    <div class="container mt-4">
      <div class="card border-success" style="max-width: 300px">
        <div class="card-header bg-success text-white">Info de países</div>
        <div class="card-body">
          <form th:action="@{/}" method="post" th:object="${formInfo}">
            <div class="mb-3">
              <label for="nombrePais" class="form-label"
                >Selecciona un país</label
              >

              <!-- <Select /> -->
              <select
                class="form-select"
                id="nombrePais"
                name="nombrePais"
                onchange="this.form.submit()"
              >
                <option
                  th:each="nombre : ${listaNombres}"
                  th:value="${nombre}"
                  th:text="${nombre}"
                  th:selected="${formInfo.nombrePais == nombre}" 
                >
                <!-- <th:selected para que mantenga la seleccion /> -->
                  Selecciona un país
                </option>
              </select>
            </div>
            <div class="mt-3">
              <p>
                <strong>Capital:</strong> <span th:text="${capital}"></span>
              </p>
              <p>
                <strong>Población:</strong>
                <span th:text="${poblacion}"></span>
              </p>
            </div>
          </form>
          <p th:if="${error}" th:text="${error}"></p>
        </div>
      </div>
    </div>
  </body>
</html>
